    
        <!--experiencia-->
    
        <section id="experiencia">
            <h3 class="titulo-seccion"> Experiencia Laboral.</h3>
            <div class="fila">
                <div class="experiencia">
                    <img src="../assets/LOGO-munichajari.png" alt="logochajari">
                    <h3>Municipalidad de Chajarí</h3>
                    <hr>
                    <h4>Administrador</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt accusamus laudantium ab dolor quis
                        assumenda.</p>
    
                </div>
                <div class="experiencia">
                    <img src="../assets/santagula.jpg" alt="santaGula">
                    <h3>Rotiseria Santa Gula</h3>
                    <hr>
                    <h4>Dueño</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt accusamus laudantium ab dolor quis
                        assumenda.</p>
    
                </div>
                <div class="experiencia">
                    <img src="../assets/Ingenieria.jpg" alt="ingenieria">
                    <h3>Ingenieria SA</h3>
                    <hr>
                    <h4>Planos en Autocad 3D</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt accusamus laudantium ab dolor quis
                        assumenda.</p>
    
                </div>
            </div>
        </section>
    
        <!--educacion-->
    
        <section id="educacion">
            <h3 class="titulo-seccion"> Educacion.</h3>
            <div class="fila">
                <div class="educacion">
                    <img src="../assets/logoescuela.png" alt="logo Entre Rios">
                    <h3>Secundario Completo</h3>
                    <hr>
                    <h4>2005 - 2011</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt accusamus laudantium ab dolor quis
                        assumenda.</p>
    
                </div>
                <div class="educacion">
                    <img src="../assets/utn.jpg" alt="Logo UTN">
                    <h3>Curso autocad 3D</h3>
                    <hr>
                    <h4>2013 - 2014</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt accusamus laudantium ab dolor quis
                        assumenda.</p>
    
                </div>
                <div class="educacion">
                    <img src="../assets/gis.jpg" alt="gis">
                    <h3>Georeferenciacion</h3>
                    <hr>
                    <h4>2015 - 2016</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt accusamus laudantium ab dolor quis
                        assumenda.</p>
    
                </div>
            </div>
    
            <div class="fila">
                <div class="educacion">
                    <img src="../assets/google activate.png" alt="google">
                    <h3>Fundamentos Merketing Digital</h3>
                    <hr>
                    <h4>Abril 2022</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt accusamus laudantium ab dolor quis
                        assumenda.</p>
    
                </div>
                <div class="educacion">
                    <img src="../assets/google activate.png" alt="google">
                    <h3>Introduccion al Desarrollo Web</h3>
                    <hr>
                    <h4>Mayo 2022</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt accusamus laudantium ab dolor quis
                        assumenda.</p>
    
                </div>
                <div class="educacion">
                    <img src="../assets/AP logo2.jpg" alt="Argentina Programa">
                    <h3>Plan Nacional Argentina Programa </h3>
                    <hr>
                    <h4>Mayo 2022 - Enero 2023</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt accusamus laudantium ab dolor quis
                        assumenda.</p>
                </div>
            </div>
        </section>
