        <!--habilidades-->
        <section id="hard">
    
            <div class="contenedor-skills" id="skills">
                <h3>Hard & Soft Skills</h3>
                <div class="skills">
                    <div class="info">
                        <p><span class="lista"></span>HTML</p>
                        <span class="porcentaje">85%</span>
                    </div>
                    <div class="barra">
                        <div id="html" class="barra-progreso1"></div>
                    </div>
                </div>
                <div class="skills">
                    <div class="info">
                        <p><span class="lista"></span>CSS</p>
                        <span class="porcentaje">80%</span>
                    </div>
                    <div class="barra">
                        <div id="css" class="barra-progreso2"></div>
                    </div>
                </div>
                <div class="skills">
                    <div class="info">
                        <p><span class="lista"></span>Javascript</p>
                        <span class="porcentaje">75%</span>
                    </div>
                    <div class="barra">
                        <div id="js" class="barra-progreso3"></div>
                    </div>
                </div>
                <div class="skills">
                    <div class="info">
                        <p><span class="lista"></span>ANGULAR</p>
                        <span class="porcentaje">90%</span>
                    </div>
                    <div class="barra">
                        <div id="angular" class="barra-progreso4"></div>
                    </div>
                </div>
                <div class="skills">
                    <div class="info">
                        <p><span class="lista"></span>INGLES</p>
                        <span class="porcentaje">70%</span>
                    </div>
                    <div class="barra">
                        <div id="ingles" class="barra-progreso5"></div>
                    </div>
                </div>
                <div class="skills">
                    <div class="info">
                        <p><span class="lista"></span>GIT/GITHUB</p>
                        <span class="porcentaje">90%</span>
                    </div>
                    <div class="barra">
                        <div id="git" class="barra-progreso6"></div>
                    </div>
                </div>
                <div class="skills">
                    <div class="info">
                        <p><span class="lista"></span>BASE DE DATOS</p>
                        <span class="porcentaje">80%</span>
                    </div>
                    <div class="barra">
                        <div id="BD" class="barra-progreso7"></div>
                    </div>
                </div>
            </div>
        </section>
