<section id="acercade">
    <div class="contenedor-foto">
        <img src="../assets/foto-perfil.jpg" alt="foto perfil">
    </div>
    <div class="acercade">
        <p class="titulo-seccion"> Acerca De Mi</p>

        <h3>Mi Nombre es <span>Walter Halm</span></h3>
        <h4><u>Full Stack Developer Jr.</u></h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ea aut voluptatibus, atque inventore iure
            tenet.</p>
        <a href="../assets/CV WAlter.pdf" target="_blank" rel="noopener noreferrer">Descargar CV</a>
    </div>
</section>
